---
import PostLayout from "../../layouts/PostLayout.astro";

export const frontmatter = {
  title: "Oração para Oxum",
  image: "/imagens/oracao-oxum.jpg",
  description: "Oração de cura, acolhimento e amor com as águas doces de Mãe Oxum.",
  estilo: "folhas-caindo",
  categoria: "oração"
};
---

<PostLayout {...frontmatter}>
  <p>
    Mãe Oxum,<br>
    Senhora das Águas Doces,<br>
    rainha do ouro e do amor que acalma,
  </p>
  <p>
    Banha meu coração cansado nas tuas cachoeiras sagradas,<br>
    lava as dores que silenciam minha alma,<br>
    desfaz os nós que me afastam da minha própria luz.
  </p>
  <p>
    Derrama sobre mim teu espelho de verdade,<br>
    pra que eu enxergue beleza onde há ferida,<br>
    pra que eu me veja com os olhos da doçura que vem de ti.
  </p>
  <p>
    Oxum, Mãe dourada,<br>
    ensina-me a acolher como tu acolhes,<br>
    a florescer mesmo nas águas turvas,<br>
    a seguir firme com suavidade.
  </p>
  <p>
    Com tua força feminina, me firma.<br>
    Com teu canto, me cura.<br>
    Com tua presença, me guia.
  </p>
  <p>
    Ora ieiê ô!<br>
    Axé!
  </p>
</PostLayout>
