---
// src/components/Footer.astro
---

<footer class="rodape">
<div class="folhas-fixas">
  <img src="/imagens/folha2.png" alt="" />
  <img src="/imagens/folha3.png" alt="" />
  <img src="/imagens/folha1.png" alt="" />
  <img src="/imagens/folha2.png" alt="" />
  <img src="/imagens/folha3.png" alt="" />
</div>


  <div class="rodape-interno">
<div class="rodape-links-legais">
  <a href="/politica-de-privacidade">Política de Privacidade</a>
  <span>•</span>
  <a href="/termos-de-uso">Termos de Uso</a>
</div>
    <p>Com axé e acolhimento, por <strong>Jurema, Estrada e Mar</strong></p>
    <p>Feito com amor e guiança espiritual ✨</p>
  </div>
</footer>
