---
// src/components/Header.astro
---

<header class="cabecalho">
  <img src="/imagens/logo.png" alt="Logo Jurema, Estrada e Mar" class="logo" />
  <nav>
    <a href="/">Início</a>
    <a href="/oracoes">Orações</a>
    <a href="/pontos">Pontos Cantados</a>
    <a href="/ensinamentos">Ensinamentos</a>
    <a href="/sobre">Sobre</a>
  </nav>
</header>
