---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const pontos = await getCollection('pontos');

// Organiza por data (mais novos no topo)
const pontosRecentes = pontos
  .filter((p) => p.data.pubDate)
  .sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate));
---


<Layout>
<section class="player-radio">
  <h1>📻 Rádio Umbanda ao Vivo</h2>
  <iframe 
    src="https://player.maxcast.com.br/sandrocm" 
    width="100%" 
    height="100" 
    frameborder="0" 
    allow="autoplay" 
    style="border-radius: 8px;"
  ></iframe>
</section>
  title="Pontos Cantados"
  description="Cantos sagrados recebidos na gira, guiados por orixás, caboclos e entidades da Umbanda."
  <main class="pagina-lista">
    <section class="secao-home">
      <h2>🎶 Pontos Cantados</h1>
      <ul class="lista-pontos">
        {pontosRecentes.map(({ data }) => (
          <li>
            <a href={`/pontos/${data.slug}`}>{data.title}</a>
          </li>
        ))}
      </ul>
    </section>
  </main>
</Layout>
