---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  estilo?: string;
  folhas?: boolean;
}

const { title, estilo = "", folhas = false } = Astro.props;
---

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>{title} | Jurema, Estrada e Mar</title>

    <link rel="stylesheet" href="/style.css" />
    {estilo === 'bg-oxum' && <link rel="stylesheet" href="/styles/oracoes/oracao-oxum.css" />}
    {estilo === 'bg-iansa' && <link rel="stylesheet" href="/styles/oracoes/oracao-iansa.css" />}
    {estilo === 'bg-xango' && <link rel="stylesheet" href="/styles/oracoes/oracao-xango.css" />}
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Open+Sans&display=swap" rel="stylesheet" />
  </head>

  <body class={`pagina-oracao ${estilo}`}>
    <Header />

    <main class="conteudo-principal">
      <slot />
    </main>

    <Footer />

    {folhas && (
      <>
        <div class="folhas-caindo" aria-hidden="true">
          <img src="/imagens/folha1.png" class="folha folha1" />
          <img src="/imagens/folha2.png" class="folha folha2" />
          <img src="/imagens/folha3.png" class="folha folha3" />
        </div>
        <script type="module" src="/folhas.js"></script>
      </>
    )}
  </body>
</html>
