<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Jurema, Estrada e Mar</title>
    <link rel="stylesheet" href="/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <slot />
  </body>
</html>
